#rooms {
	header {
		margin-bottom: 20px;
		@include container(90%);
		@include breakpoint($medium) {
			@include container;
			@include pad(1,1);
		}
	}//header

	.room {
		@include container(100%);
		@include pad(1,1);

		@include display-flex();
		@include align-items(center);
		@include justify-content(center);

		@include breakpoint($small) {
			@include pad(7,1);
		}//breakpoint

		padding: 200px 0;

		.content {
			@include border-radius(10px);
			background: rgba($light, .8);
			padding: 20px;
			margin: 200px 0;
			
			h1 {
				color: $red;
			} //h1
		} //.content

	} //.room
		
		#piccadilly {
			@include backImage('../images/room1.jpeg')
		}
		
		#cambridge {
			@include backImage('../images/room2.jpg')
		}

		#oxford {
			@include backImage('../images/room3.jpg')
		}

		#westminster {
			@include backImage('../images/room4.jpg')
		}

		#victoria{
			@include backImage('../images/room5.jpg')
		}

		#manchester {
			@include backImage('../images/room6.jpg')
		}
}//rooms